body,
html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #c7c7c7;
}

#video{
    height: 15em;
    width: 23.6em;
}

#foto{
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 0;
    border: solid 5px #4F5A91;
    float: left;
}

#main {
    border: 2px solid #222028;
    height: 70%;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
}
#main article {
    flex: 3 1 60%;
    order: 2;
}
#main nav {
    flex: 1 6 12%;
    order: 1;
}
#main aside {
    flex: 1 6 28%;
    order: 3;
}

footer {
    display: block;
    min-height: 20%;
}

header {
    border: 2px solid #171923;
    border-radius: 50% 50% 0 0;
    box-shadow: inset 0 0 10px 10px #6f6f6f;
    display: block;
    min-height: 10%;
    text-align: center;
    -moz-box-shadow: inset 0 0 10px 10px #6f6f6f;
    -webkit-box-shadow: inset 0 0 10px 10px #6f6f6f;
}
