body,
html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: url(fondo.png) repeat;
}

#video{
    height: 15em;
    width: 23.6em;
}

#foto{
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 0;
    border: solid 5px #8eaac2;
    float: left;
    flex: 3 1 10%;
}

#main {
    height: 50%;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
}
#main article {
    flex: 3 1 60%;
    order: 2;
}
#main nav {
    flex: 1 6 12%;
    order: 1;
}
#main aside {
    flex: 1 6 28%;
    order: 3;
}

footer {
    display: block;
    min-height: 40%;
}

header {
    border: 2px solid #171923;
    border-radius: 50% 50% 0 0;
    box-shadow: inset 0 0 10px 10px #6f6f6f;
    display: block;
    min-height: 10%;
    text-align: center;
    -moz-box-shadow: inset 0 0 10px 10px #6f6f6f;
    -webkit-box-shadow: inset 0 0 10px 10px #6f6f6f;
}

.Galeria{
    height: 140px;
    width: 140px;
    margin-left: 25px;
    float: left;
    margin-bottom: 20px;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #000;
    border-radius: 10%;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
}

.Galeria img{
    height: 120px;
    width: 120px;
}

.Galeria iframe{
    height: 120px;
    width: 120px;
}

.Galeria video{
    height: 120px;
    width: 120px;
}
